img {
  display: block;
}
ul {
  list-style: none;
  padding-left: 0;
}
body {
  background-color: #ffffff;
}
.gallery {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  width: 1128px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
}
.gallery-item {
  width: calc((100% - 48px) / 3);
}
.gallery-image {
  object-fit: cover;
  aspect-ratio: 1.8;
  width: 100%;
  position: relative;
  z-index: 1;
  transition: transform 0.1s ease;
  cursor: zoom-in;
  &:hover {
    transform: scale(1.04);
    z-index: 2;
  }
}
